body {
  font-size: 40px;
  text-align: center;
  color: #101010;
  background: #d0e6ff;
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.5;
}

/*** other body styles ***/
body.yellow {
  background: #f3d104;
}

body.red {
  background: #d61111;
  font-size: 60px;
}

div {
  padding-top: 1em;
}

/*** spans ***/

.mono {
  font-size: 45px;
  font-family: Monaco, monospace;
  letter-spacing: 2px;
}

/* used for spacing */
.small {
  font-size: 15px;
  letter-spacing: 0;
}

.underline {
  margin: 0 3px;
  text-decoration: underline #101010 solid 4px !important;
  -webkit-text-decoration-line: underline !important;
  -webkit-text-decoration-color: #101010 !important;
  -webkit-text-decoration-style: solid !important;
  -webkit-text-decoration-thickness: 4px !important;
}

span.red {
  margin: 0 3px;
  text-decoration: underline #ff0000 solid 4px;
  -webkit-text-decoration: underline #ff0000 solid 4px !important;
}

.linkback {
  padding-top: 30px;
  font-size: 16px;
}

img {
  padding: 0 20px;
}