name: golangci-lint
on:
  push:
    branches: [ "master", "dev" ]
  # I think this is causing #38.
  # pull_request:
    # branches: [ "master" ]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --verbose
